body {
  padding-top: 40px;
  /* background-color: #2C2F33; */
  color: #7289DA;
}
.card {
  background-color: #23272A;
  padding: 1vw;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  border: 1px solid #7289DA;
  height: auto;
  width: 35vw;
}
.colourmod {
  background-color: #2C2F33;
  color: #7289DA;
}
.container-fluid {
  -ms-overflow-style: none;  /* IE 10+ */
  overflow: -moz-scrollbars-none;   /* IE 10+ */
}
.container-fluid::-webkit-scrollbar {
  display: none;   /* IE 10+ */
}
